<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytd.mds.dao.mapper.UserMapper">
	<sql id="userColumns">LOGIN_NAME,PASSWORD,USER_NAME,CUSTOMER_ID,ROLE_ID</sql>

	<resultMap type="User" id="UserMap">
		<id column="USER_ID" property="userId" />
		<result column="LOGIN_NAME" property="loginName" />
		<result column="USER_NAME" property="userName" />
		<result column="STATUS" property="status"
			javaType="com.ytd.mds.utils.UserStatuEnum" typeHandler="com.ytd.mds.utils.EnumStatusHandler" />
	</resultMap>

	<select id="queryAll" resultMap="UserMap">
		SELECT * FROM MIS_USER
	</select>

	<select id="queryUserByLoginName" resultMap="UserMap">
		SELECT * FROM
		MIS_USER WHERE LOGIN_NAME = #{loginName}
	</select>

	<update id="updateUser" parameterType="User">
		UPDATE MIS_USER SET
		USER_NAME=#{userName},PASSWORD=#{password} WHERE USER_ID =#{userId}
	</update>

	<insert id="saveUser" parameterType="User">
		INSERT INTO MIS_USER(
		<include refid="userColumns" />
		)
		VALUES(#{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR},#{customerId},#{roleId})
	</insert>

	<!-- LOGIN_NAME,PASSWORD,USER_NAME,CUSTOMER_ID,ROLE_ID -->
	<insert id="insertBatchUser" parameterType="java.util.List">
		insert into MIS_USER (
		<include refid="userColumns" />
		)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			<trim prefix=" (" suffix=")" suffixOverrides=",">
				#{item.loginName,jdbcType=VARCHAR},
				#{item.password,jdbcType=VARCHAR},
				<choose>
					<when test="item.userName != null">
						#{item.userName,jdbcType=VARCHAR},
					</when>
					<otherwise>
						-,
					</otherwise>
				</choose>
				<choose>
					<when test="item.customerId != null">
						#{item.customerId,jdbcType=INTEGER},
					</when>
					<otherwise>
						0,
					</otherwise>
				</choose>
				<choose>
					<when test="item.roleId != null">
						#{item.roleId,jdbcType=INTEGER},
					</when>
					<otherwise>
						0,
					</otherwise>
				</choose>
			</trim>
		</foreach>
	</insert>

	<delete id="deleteUser">
		DELETE FROM MIS_USER WHERE LOGIN_NAME =#{loginName}
	</delete>
</mapper>